
* {padding: 0;
    margin: 0;}

html{
    
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    
    flex-direction: column;
    height: 100%;
    width: 100%;
    
   
    
    
}

form {
     display: flex;
     width: 100%;
     max-width: 380px;
     flex-direction: column;   
}

label{
    padding-top: 1rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
}

input{
    height: 2rem;
    border-radius: 100px;
    background-color: lightgrey;
    border: none;
    
}



button{
    border-radius: 100rem;
    background: rgb(129, 131, 134);
    color: white;
    padding: .8rem 1rem;
    border: none;
    margin-top: 1rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
p{  display: flex;
    margin-top: 1rem;
    justify-content: center;
    
    
}

p a{
    color: black;
    padding: 0 1rem
    
}
    



.creatanaccount{
    border: 2px solid  #6A2983;
    color: rgb(63, 61, 61);
    background-color: transparent;
   
}

  footer{
   
        clear: both;
        position: relative;
        
        margin-top: 10px;
    }
      
  
.sign-in:hover {
    background-color:blue;
    

}

.cancel:hover{
    background-color: red;
}
.creatanaccount:hover{
    background-color: #6A2983;
    color: white;

}

p a:hover{
    
}

