body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

ul {
    list-style: none;
    padding: 0%;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- HEADER ---- */

header {
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}


.nav-right {
    display: none;
}

.craiglogo {
    height: 3.5rem;
    margin-left: 1rem;
}

.menu {
    margin-right: 1rem;
}

.icon {
    color: rgb(88, 88, 88);
    font-size: 4rem;
}

.icon:hover {
    color: #6A2983;
}

/* ---- HEADER ---- */


/* ---- MAIN CONTENT ---- */

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.main-nav a {
    color: rgb(65, 65, 65);
    padding: 3px;
}

.category {
    display: flex;
    justify-content: center;
}

.main-nav li {
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    align-items: center;
    font-size: 0.9rem;
    width: 33%;
}

.main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.material-icons.md-36 {
    font-size: 2.5rem;
    color: rgb(104, 104, 104);
    margin-bottom: -8px;
}

/* ---- MAIN CONTENT ---- */


/* ---- FOOTER ---- */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(228, 228, 228);
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fot-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin-top: 1rem;
    color: black;
}

.fot-nav li {
    padding: 0.5rem;
}

.download-button {
    width: 6rem;
}

.app {
    font-size: 0.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider{
    width: 20rem;
    height: 1px;
    background-color: indigo;
}

.copyright {
    margin-bottom: 1rem;
}

/* ---- FOOTER ---- */

/* ---- MEDIA QUERIES ---- */

@media only screen and (min-width: 800px) {
    .search {
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 15px;
        height: 1.5rem;
        width: 10rem;
        margin-right: 0.5rem;
    }

    .header-right ul {
        display: flex;
        flex-direction: row;
        margin-right: 2rem;
        align-items: center;
    }

    .header-right li {
        padding: 5px;
        display: flex;
        flex-direction: row;
    }

    .craiglogo {
        height: 4rem;
        margin-left: 2rem;
    }

    .menu {
        display: none;
    }
}

@media only screen and (min-width: px) {}

@media only screen and (min-width: px) {}


/* ---- MEDIA QUERIES ---- */