body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    background-color: rgb(252, 252, 252)
}

ul {
    list-style: none;
    padding: 0%;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- HEADER ---- */

header {
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}


.nav-right {
    display: none;
}

.craiglogo {
    height: 4rem;
    margin-left: 1rem;
}

.menu {
    margin-right: 1rem;
}

.icon {
    color: rgb(88, 88, 88);
    font-size: 4rem;
}

.icon:hover {
    color: #783d8f;
}

/* ---- HEADER ---- */


/* ---- MAIN CONTENT ---- */

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.main-nav a {
    color: rgb(104, 104, 104);
    padding: 0.1rem;
}

.main-nav a:hover {
    color: #8e5da1;
}

.main-nav p {
    margin: 0;
}

.main-nav li {
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    align-items: center;
    font-size: 0.9rem;
    width: 33%;
}

.main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.material-icons.md-36 {
    font-size: 2.5rem;
    margin-bottom: -0.5rem;
}

.button1 {
    margin: 0.6rem;
    width: 21rem;
    height: 2rem;
    border-radius: 1.5rem;
    border: none;
    background-color: #8e5da1;
    color: rgb(228, 228, 228);
}

.buttons{
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5rem;
}

.button1:hover {
    background-color: #8e6c9b;
}

/* ---- MAIN CONTENT ---- */


/* ---- FOOTER ---- */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(228, 228, 228);
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fot-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin-top: 1.5rem;
}

.fot-nav a {
    padding: 0.5rem;
    color: rgb(83, 83, 83);
}

.fot-nav a:hover {
    color: #9068a0;
}

.download-button {
    width: 6rem;
}

.app {
    font-size: 0.5rem;
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider {
    width: 20rem;
    height: 2px;
    background-color: #9068a0;
}

.copyright {
    margin-bottom: 1rem;
}

/* ---- FOOTER ---- */

/* ----- MEDIA QUERIES ----- */
@media only screen and (min-width: 500px) {

    .material-icons.md-36 {
        font-size: 4rem;
    }
    .main-nav {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}


@media only screen and (min-width: 800px) {

    /* ---- HEADER min 800px ---- */
    .search {
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 1rem;
        height: 1.5rem;
        width: 15rem;
        padding-left: 0.7rem;
        outline-color: #8e5da1;
        outline-width: 0.1rem;
    }

    .header-right ul {
        display: flex;
        flex-direction: row;
        margin-right: 1rem;
        align-items: center;
    }

    .header-right li {
        padding: 0.3rem;
        display: flex;
        flex-direction: row;
        margin-right: 1rem;
    }

    .nav-right a{
        color: rgb(51, 51, 51);
    }

    .nav-right a:hover{
        color: #8e5da1;
    }

    .craiglogo {
        height: 5rem;
        margin-left: 2rem;
    }

    .menu {
        display: none;
    }

    /* ---- HEADER min 800px ---- */

    /* ---- MAIN min 800px ---- */

    .buttons{
        background-color: rgb(252, 252, 252);
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .button1{
        margin: 0.6rem;
        width: 27rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }

    .material-icons.md-36 {
        font-size: 5rem;
    }

    .main-nav li {
        margin: 1.3rem;
        font-size: 0.9rem;
    }

    .main-nav ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .main-nav {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    /* ---- MAIN min 800px ---- */

    /* ---- FOOTER min 800px ---- */

    .divider {
        width: 40rem;
        height: 2px;
        background-color: #9068a0;
    }

    .fot-nav a {
        padding: 0.5rem;
        margin: 1rem;
        color: rgb(83, 83, 83);
    }

    /* ---- FOOTER min 800px ---- */
}

@media only screen and (min-width: 1000px) {

.button1 {
    height: 2rem;
    width: 27rem;
    height: 2.5rem;
}

.main-nav li {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    font-size: 0.9rem;
}

.main-nav{
    margin-top: 2rem;
}

}

@media only screen and (min-width: px) {}


/* ---- MEDIA QUERIES ---- */