body {
    margin: 0;
    background-color: rgb(233, 233, 233);
}

ul{
    list-style: none;
    display: flex;
}

/* ---- HEADER ---- */

header {
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}


.nav-right {
    display: none;
}

.craiglogo {
    height: 3.5rem;
    margin-left: 1rem;
}

.menu{
    margin-right: 1rem;
}

.icon{
    color: rgb(88, 88, 88);
    padding: 5px;
}

.icon:hover{
    color: #6A2983;
}

/* ---- HEADER ---- */


/* ---- MAIN CONTENT ---- */

.main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav li{
    padding: 10px;
}

.main-nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---- MAIN CONTENT ---- */



/* ---- FOOTER ---- */

footer {
    background-color: rgb(167, 167, 167);
}

/* ---- FOOTER ---- */

/* ---- MEDIA QUERIES ---- */

@media only screen and (min-width: 800px) {
    .search {
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 15px;
        height: 1.5rem;
        width: 10rem;
        margin-right: 0.5rem;
    }

    .header-right ul {
        display: flex;
        flex-direction: row;
        margin-right: 2rem;
        align-items: center;
    }

    .header-right li{
        padding: 5px;
        display: flex;
        flex-direction: row;
    }

    .craiglogo {
        height: 4rem;
        margin-left: 2rem;
    }

    .menu {
        display: none;
    }
}

@media only screen and (min-width: px) {}

@media only screen and (min-width: px) {}


/* ---- MEDIA QUERIES ---- */